services:
  - type: web
    name: webhook-receiver
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn --timeout 60 --bind 0.0.0.0:$PORT app:app
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 10000
